.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    margin: 0;
    padding: 20px 0;
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 5px 0;
}

button {
    margin: 15px !important;
}

#characterContainer {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}

#characterContainer img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}
